
html, body {
    height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.5;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "BebasNeueRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
}
@font-face {
    font-family: "Covered";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CoveredByYourGrace.ttf") format("truetype");
}
*::-moz-selection {
    background: none repeat scroll 0 0 #E2E2E2;
    color: #FFFFFF;
}
a, a:visited, a:hover {
    outline: medium none;
}
body {
    background: none repeat scroll 0 0 white;
    color: #000000;
    font: 300 16px/1.4 "Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}
.embed-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
img.responsive {
    height: auto;
    width: 100%;
}
.hidden {
    display: none;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
small {
    font-size: 80%;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 10px 0 30px;
}
pre {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #F0F0F0;
    border-radius: 2px 2px 2px 2px;
    font-family: Consolas,monospace;
    height: auto;
    margin: 0 0 20px;
    overflow-x: auto;
    padding: 10px 20px;
}
.hidden {
    display: none !important;
}
.responsive img, .responsive iframe, .responsive object, .responsive embed {
    height: auto;
    width: 100%;
}
img {
    height: auto;
    max-width: 100%;
}
a {
    color: #37D0FC;
    outline: 0 none;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.highlight {
    color: #37D0FC;
}
a:hover, a:focus {
    color: #000000;
}
a:focus {
    outline: medium none;
    outline-offset: 0;
}
p a, p a:visited {
    line-height: inherit;
}
ul, ol {
    margin-bottom: 20px;
}
ul {
    list-style: none outside none;
}
ul.styled-list {
    padding: 0;
}
ol {
    margin: 0;
    padding: 0 0 0 30px;
}
ol {
    list-style: decimal outside none;
}
ul li ul, ol li ul, ol li ul, ol li ol {
    margin-bottom: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}
.aligncenter {
    display: block;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}
body #load {
    background-color: #FFFFFF;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1001;
}
#qLpercentage {
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 60px !important;
    line-height: 1;
}
h1 {
    color: #006FB7 !important;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 60px !important;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
}
h2 {
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 44px;
    position: relative;
    text-transform: uppercase;
}
h3 {
    color: #006FB7 !important;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    text-transform: uppercase !important;
}
h4 {
    font-family: 'Oswald',sans-serif;
    font-size: 22px;
}
h5 {
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
}
h6 {
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    text-transform: uppercase !important;
}
p {
    margin-bottom: 10px;
}
nav {
    position: relative;
    width: 100%;
    z-index: 1000;
}
nav.page_scroll {
    position: fixed;
    top: 0;
}
nav.page-scroll {
    position: fixed;
    top: 0;
}
.home-parallax.pagescroll, .home-gradient.pagescroll {
    margin-bottom: -80px;
}
nav.dark {
    background: none repeat scroll 0 0 #151515;
    border-bottom: 1px solid #000000;
}
nav.light {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #F0F0F0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    transition: all 0.5s ease 0s;
}
nav.light.sticky {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
}
nav.transparent {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    position: fixed;
    top: 0;
    width: 100%;
}
nav.transparent a {
    color: #FFFFFF;
}
nav.transparent.scroll {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}
nav.transparent.scroll a {
    color: #515A5F;
}
nav.colored, nav.light.colored {
    background: none repeat scroll 0 0 #37D0FC;
    border-bottom: 0 none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}
nav.colored ul > li > a {
    color: #FFFFFF;
}
nav.colored ul > li.active > a {
    color: #515A5F;
}
nav .container .four.columns {
    float: left;
    width: auto;
}
nav .container .twelve.columns {
    float: right;
    width: auto;
}
.main-menu, .logo {
    display: table-cell;
    height: 35px;
    padding: 0;
}
.main-menu.large {
}
.logo a {
    color: inherit !important;
    display: block;
    font-size: 36px;
    margin: auto;
}
.main-menu li {
    display: inline;
    margin-left: 30px;
}
.main-menu a {
    color: #FFFFFF;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 22px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
}
nav.light .main-menu a {
    color: inherit;
}
nav.light .main-menu a:hover, nav.dark .main-menu a:hover {
    color: #37D0FC;
    transition: color 0.5s ease 0s;
}
nav.light .main-menu li.active a, nav.dark .main-menu li.active a {
    color: #37D0FC;
}
.main-menu a i {
    font-size: 22px;
    margin-right: 3px;
}
.main-menu.iconic li {
    margin-left: 40px;
}
.main-menu.iconic a {
    display: inline-block;
}
.main-menu.iconic a i {
    display: block;
    font-size: 25px;
    margin: 8px auto 4px;
    text-align: center;
}
ul#nav, ul#nav ul {
    padding-left: 0;
}
ul#nav li {
    display: block;
    float: left;
    position: relative;
}
#nav .sub-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    left: -15px;
    position: absolute;
    top: 37px;
    z-index: 2000;
}
#nav .sub-menu li {
    border-bottom: 1px solid #F3F3F3;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
}
#nav .sub-menu li a, #nav .sub-menu li .sub-menu li a, #nav .sub-menu li .sub-menu li .sub-menu li a {
    border: medium none !important;
    box-shadow: none;
    color: #000000;
    display: block;
    height: auto;
    line-height: normal;
    margin: 0;
    padding: 8px 15px;
    width: 160px;
}
#nav .sub-menu li a:hover, #nav .sub-menu li .sub-menu li a:hover, #nav .sub-menu li .sub-menu li .sub-menu li a:hover {
    color: #37D0FC;
}
#nav .sub-menu li.current-menu-item a, #nav .sub-menu li.current-menu-item a:hover, #nav .sub-menu li.current_page_item a, #nav .sub-menu li.current_page_item a:hover, #nav .sub-menu li .sub-menu li.current-menu-item a, #nav .sub-menu li .sub-menu li.current-menu-item a:hover, #nav .sub-menu li .sub-menu li.current_page_item a, #nav .sub-menu li .sub-menu li.current_page_item a:hover, #nav .sub-menu li a.active, #nav .sub-menu li a.active:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F2F2F2 !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: none;
    color: #AAAAAA;
}
#nav .sub-menu li:last-child {
    border: medium none;
}
#nav .sub-menu li ul {
    left: 178px;
    top: 10px;
}
.selectnav {
    display: none;
}
.home-text-wrapper {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}
.home1 .slabtextdone {
    color: #FFFFFF;
}
.home1 .slabtextdone .slabtext.second-child {
    background: none repeat scroll 0 0 #37D0FC;
    color: #000000;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: -10px;
    padding: 15px 10px 0;
    width: auto;
}
.home1.home-gradient .slabtextdone .slabtext.second-child {
    background: none repeat scroll 0 0 transparent;
}
.home-slide .home-slide-content {
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 90px;
    line-height: 1;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.home-parallax .home-slide-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    padding: 55px 10px 50px;
}
.home3 .container {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.81);
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.24);
    height: 500px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 500px;
}
.home3 .container.no-safari {
    backface-visibility: hidden;
}
.home3 .home-quote {
    color: #FFFFFF;
    display: table-cell;
    height: inherit;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    vertical-align: middle;
    width: inherit;
}
.home3 .slabtextdone {
    color: #FFFFFF;
}
.home3 .slabtextdone .slabtext.second-child {
    color: #37D0FC;
    display: inline-block;
    overflow: hidden;
    text-shadow: none;
    width: auto;
}
.home3 .container:hover {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.24);
    overflow: hidden;
    transform: scale(1.09);
}
.home3 h1 {
    font-size: 30px;
    margin: 0 50px;
    overflow: hidden;
}
.home4 .slabtextdone {
    text-shadow: none;
}
.home4 .home-quote {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.63);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.32);
    padding: 10px 10px 0;
    transition: all 0.3s ease-in-out 0s;
}
.home4.home-gradient .home-quote {
    background: none repeat scroll 0 0 #FFFFFF;
}
.home4 .home-quote:hover {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.32);
}
.home4 .slabtextdone .slabtext.second-child {
    background: none repeat scroll 0 0 #37D0FC;
    color: #FFFFFF;
    display: inline-block;
    margin-left: -10px;
    padding: 15px 10px 0;
    width: auto;
}
.home-fullscreenslider {
    background: url("../images/pattern.png") repeat scroll 0 0 transparent;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.home-fullscreenslider .container {
    height: 100%;
}
.home-fullscreenvideo {
    background: none repeat scroll 0 0 #1F2224;
}
.background-video {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.home-banner {
    color: #FFFFFF !important;
    height: auto !important;
    padding: 150px 0;
}
.home-banner2 {
    color: #FFFFFF !important;
    height: auto !important;
    padding: 0;
}
.home-banner .slabtextdone {
    text-shadow: none;
}
.home-newsletter {
    color: #FFFFFF !important;
}
.home-newsletter .slabtextdone {
    color: #FFFFFF;
    text-shadow: none;
}
.parallax {
    background: none repeat scroll 0 0 #F8F8F8;
    color: #FFFFFF;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
.parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6 {
    color: inherit;
}
.parallax .container {
    display: table;
    overflow: hidden;
}
.parallax .parallax-content, .parallax .overlay {
    /* height: 400px; */
}
.parallax-content {
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.overlay {
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.parallax-bg {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}
p.quote {
    color: #FFFFFF;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 48px;
    line-height: 1;
    margin: 0 5%;
    text-align: center;
    text-transform: uppercase;
    z-index: 200;
}
.quote i {
    display: inline-table;
    font-size: 25px;
    margin: 0 5px;
    vertical-align: top;
}
.parallax .quote i {
    color: #37D0FC;
}
.quote-author {
    color: #FFFFFF;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    height: 24px;
    margin-top: 25px;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 200;
}
.twitter-slider {
    margin: 0 auto !important;
    width: 85%;
}
#twitter-feed {
    padding: 10px 0;
    text-align: center;
}
#twitter-feed li {
    margin-bottom: 20px;
}
.twitter-feed-icon i {
    background: none repeat scroll 0 0 #37D0FC;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 0 4px #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    font-size: 22px;
    padding: 17px;
    width: 23px;
}
.twitter-author {
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
#twitter-feed ul.slides > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin: 5px auto 30px;
    padding: 15px 0;
}
#twitter-feed.twitter {
    text-align: left;
}
.twitter ul {
    padding: 0;
}
.twitter .twitter-feed-icon i {
    display: none;
}
.twitter .twitter-author {
    display: none;
}
.twitter li {
    border: medium none;
    color: inherit;
    font-family: 'HelveticaNeue Light',sans-serif;
    font-size: 13px;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 0;
    width: auto;
}
.testimonial-slider {
    margin: 0 auto !important;
    position: relative;
    width: 85%;
}
.testimonial-slider ul {
    padding: 10px 0;
    text-align: center;
}
.testimonial-icon i {
    background: none repeat scroll 0 0 #37D0FC;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 0 4px #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    font-size: 22px;
    padding: 17px;
    width: 23px;
}
.testimonial-slide .client-testimonial {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    line-height: 1.67;
    margin: 5px auto 10px;
    padding: 15px;
}
.client-info {
    color: #FFFFFF;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 20px;
}
.client-info:before, .client-info:after {
    content: "--";
    margin: 0 3px;
}
.section {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 0 0 60px;
    position: relative;
    z-index: 6;
}
.page.multipage {
    padding: 30px 0 0;
    text-align: left;
}
.page.multipage .copyright {
    text-align: center;
}
.title {
    text-align: center;
}
.title h1 {
    background: none repeat scroll 0 0 #37D0FC;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 0 3px #37D0FC;
    color: #FFFFFF;
    display: inline-block;
    line-height: 0.8;
    margin-bottom: 20px;
    padding: 10px 10px 3px;
}
.multipage .title h1 {
    line-height: 0.8;
    margin: 60px 0 40px;
}
.subtitle {
    font-family: 'Open Sans',"Times New Roman",Times,serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.home-video, .home-fullscreenslider {
    background: none repeat scroll 0 0 transparent;
    display: table;
    padding: 0 !important;
    width: 100%;
    z-index: 10;
}
.home-parallax {
    background-attachment: fixed !important;
    background-clip: border-box;
    background-color: #37D0FC;
    background-image: url("../images/parallax/parallax4.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover !important;
    color: #010101;
    display: table;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}
.home-logo, .home-logo-text {
    display: none;
    position: relative;
    text-align: center;
    width: 100%;
}
.home-fullscreenslider .home-logo, .home-fullscreenslider .home-logo-text {
    font-size: 80px;
    margin: 60px 0 100px;
}
.home-logo-text a {
    border: 5px solid;
    color: inherit;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 0;
    padding: 5px 25px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.home-logo-text.light a {
    color: rgba(255, 255, 255, 0.9);
}
.home-logo-text a:hover {
    color: #FFFFFF;
}
.slabtextdone {
    color: #020202;
    line-height: 0.8;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.slabtexted .slabtext {
    display: inline-block;
    white-space: nowrap;
}
.slabtextinactive .slabtext {
    display: inline;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    white-space: normal;
    word-spacing: inherit !important;
}
.slabtextdone .slabtext {
    display: block;
}
#portfolio {
    padding-bottom: 0;
}
#filters {
    display: block;
    float: none;
    margin-bottom: 0;
    margin-top: 10px;
    position: relative;
    text-align: center;
    z-index: 2;
}
#filters ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#filters ul li {
    display: inline-block;
}
#filters ul li a {
    color: inherit;
    display: block;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 5px;
}
#filters ul li a h3 {
    border: 2px solid;
    font-size: 18px;
    padding: 2px 6px 0;
}
#filters ul li a:hover h3, #filters ul li a.active h3 {
    color: #37D0FC;
}
#project-navigation {
    height: 40px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1;
}
#project-navigation ul {
    display: none;
    float: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#project-navigation ul li#prevProject a {
    background: url("../images/arrow_left.png") no-repeat scroll center center transparent;
    float: right;
    margin-right: 64px;
}
#project-navigation ul li#nextProject a {
    background: url("../images/arrow_right.png") no-repeat scroll center center transparent;
    float: right;
    margin-right: 10px;
}
#project-navigation ul li#prevProject a, #project-navigation ul li#nextProject a {
    background-color: #151515;
    background-size: 30px auto;
}
#project-navigation ul li a {
    border-radius: 50% 50% 50% 50%;
    float: left;
    height: 40px;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
}
#project-navigation ul li#prevProject a:hover, #project-navigation ul li#nextProject a:hover {
    background-color: #37D0FC;
}
#project-navigation ul li a:hover {
    background-color: #37D0FC;
}
#project-navigation ul li a.disabled, #project-navigation ul li a.disabled:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    cursor: default;
}
#closeProject {
    position: absolute;
    right: 62px;
    top: 10px;
    z-index: 1;
}
#closeProject a {
    background: none repeat scroll 0 0 #151515;
    border-radius: 50% 50% 50% 50%;
    display: none;
    height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
}
#closeProject a:hover {
    background: none repeat scroll 0 0 #37D0FC;
}
#closeProject a i {
    color: #FFFFFF;
    display: inline-table;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
}
#ajax-section {
    background: none repeat scroll 0 0 #F8F8F8;
    padding: 0;
    position: relative;
    text-align: left;
}
#ajax-section #loader {
    display: none;
    height: 20px;
    position: absolute;
    top: -30px;
    width: 100%;
}
#ajax-section #loader.projectError {
    background-position: center top;
    height: auto !important;
    text-align: center;
}
#ajax-section #loader.projectError p {
    display: none;
    padding-top: 16px;
}
#ajax-section #loader {
    background: url("../images/loader.gif") no-repeat scroll center center transparent;
}
#ajax-section #loader.projectError p {
    color: #666666 !important;
}
#ajax-content-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
#ajax-content-inner {
    float: left;
    height: 0;
    opacity: 0;
}
#ajaxpage {
    display: block;
    float: left;
}
.project-media {
    display: block;
    margin-bottom: 30px;
    margin-top: 70px;
    overflow: hidden;
}
.project-info {
    margin-bottom: 30px;
    margin-top: 60px;
}
.sixteen .project-info {
    margin-top: 0;
}
.project-info {
    float: left;
    height: auto;
    margin-bottom: 30px;
}
.project-description, .project-details {
    margin-bottom: 30px;
}
.project-description h3, .project-details h3 {
    margin-bottom: 10px;
}
.project-details p {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 7px;
}
.project-details p span {
    font-weight: bold;
}
#portfolio-wrap {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}
#portfolio-wrap .portfolio-item {
    line-height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 20%;
}
.portfolio-item.current {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.37);
    z-index: 101;
}
.portfolio-item {
    overflow: hidden;
    padding: 0;
    position: relative;
}
.portfolio-item .portfolio-image {
    display: block;
    overflow: hidden;
    position: relative;
}
.portfolio-item .portfolio-image img {
    height: auto;
    width: 100%;
}
.portfolio .portfolio-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    z-index: 4;
}
.portfolio > a, .portfolio > a:hover {
    color: #FFFFFF;
}
.portfolio-item .portfolio > a:hover > .portfolio-overlay {
    opacity: 1;
}
.portfolio > a img {
    transition: all 0.3s ease-in-out 0s;
}
.portfolio > a:hover img {
    transition: all 0.3s ease-in-out 0s;
}
.portfolio .thumb-info {
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.portfolio a:hover .portfolio-overlay .thumb-info {
    opacity: 1;
}
.portfolio-overlay .thumb-info h3 {
    font-size: 22px;
    line-height: 1.1;
    top: 38%;
}
.portfolio-overlay .thumb-info p {
    font-size: 11px;
    line-height: 1.3;
    text-transform: uppercase;
    top: 59%;
}
.portfolio-overlay .thumb-info h3 {
    color: #FFFFFF;
    padding: 0 2%;
    position: absolute;
    text-align: center;
    width: 96%;
}
.portfolio-overlay .thumb-info p {
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 2%;
    position: absolute;
    text-align: center;
    width: 96%;
}
.portfolio-overlay .thumb-info i {
    color: #FFFFFF;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
}
.portfolio-description, .project-details {
    margin-bottom: 20px;
}
.project-details .button {
    display: inline-block;
    float: none;
    margin-top: 10px;
    padding: 0 20px;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope {
    transition-property: height, width;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    transition-duration: 0s;
}
.post {
    margin-bottom: 80px;
}
.post-media {
    margin-bottom: 30px;
}
.post-title {
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.post-title a {
    color: inherit;
}
.post-title a:hover {
    color: #37D0FC;
}
.post.sticky {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    padding: 30px 15px;
}
.post-image, .post-gallery, .post-video, .post-audio {
    margin-bottom: 30px !important;
}
.post-image img, .post-gallery img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.post-link {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 10px;
}
.post-quote {
    padding: 20px 0;
    position: relative;
}
.post-quote i {
    margin: 0 10px;
}
.post-quote h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 15px 0;
}
.post-quote h2 a {
    color: inherit;
}
.post-quote .quote-source a {
    color: inherit;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
}
.post-tags {
    margin-top: 20px;
}
.post-tags i {
    display: inline-table;
    font-size: 16px;
    margin-right: 4px;
    vertical-align: middle;
}
.post-tags ul {
    display: inline-block;
    padding: 0;
}
.post-tags li {
    display: inline-block;
    font-size: 11px;
    position: relative;
    text-transform: uppercase;
}
.post-tags li:after {
    content: " . ";
}
.post-tags li:last-child:after {
    content: "";
}
.post-tags li a {
    color: inherit;
    text-decoration: none;
}
.post-tags li a:hover {
    color: #37D0FC;
}
.post-meta {
    border-bottom: 1px solid #F0F2F5;
    border-top: 1px solid #F0F2F5;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px 0;
}
.post-meta a {
    color: inherit;
}
.post-meta span {
    display: none;
    float: right;
    text-align: right;
}
.sidebar {
    padding-left: 10px;
}
.widget {
    margin-bottom: 40px;
}
.widget-title {
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.tags-list li {
    border: 1px solid #E8E8E8;
    display: inline-block;
    font-size: 11px;
    margin-top: 5px;
    padding: 3px 9px;
}
.tags-list li:first-child {
    margin-top: 0;
}
.tags-list li a {
    color: #151515;
    text-decoration: none;
}
.tags-list li a:hover {
    color: #37D0FC;
}
.blog-tweet {
    font-size: 11px;
    margin-top: 16px;
}
.blog-tweet span {
    color: #868991;
    display: block;
    font-size: 10px;
    margin-top: 7px;
}
.pagination {
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    position: relative;
    width: 100%;
}
.pages {
    text-align: center;
}
.pages li {
    display: inline-block;
}
.pages li {
    display: inline-block;
    margin: 0 2px 0 0;
}
.pages li a {
    color: #151515;
    display: block;
    font-size: 13px;
    padding: 5px;
}
.pages li a.current {
    border-bottom: 2px solid #37D0FC;
    border-top: 2px solid #37D0FC;
    color: #1C1F26;
}
.pages li a:hover {
    color: #37D0FC;
}
#pagination a, #pagination span {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1px 1px 1px 1px;
    color: inherit;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 0 5px 0 0;
    padding: 10px 15px 11px;
}
#pagination a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF !important;
}
#pagination span.current {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-weight: bold;
}
#author-info {
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
}
#author-info .author-image {
    padding: 20px 0;
    position: absolute;
    width: 45px;
}
#author-info .author-image img {
    border: 3px solid #FFFFFF;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
    display: block;
}
#author-info .author-bio {
    float: left;
    margin-left: 70px;
    padding: 20px 20px 20px 0;
}
#author-info .author-bio h4 {
    margin: 0 0 10px;
}
.author .date {
    font-weight: bold;
    margin-bottom: 10px;
}
.form-allowed-tags {
    display: none !important;
}
.socialsharing {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    padding: 10px;
}
.socialsharing h4 {
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 8px;
}
.socialsharing .social-icons {
    float: right;
    list-style: none outside none;
    margin: 0;
}
.socialsharing .social-icons li {
    float: left;
}
.socialsharing .social-icons a {
    background-repeat: no-repeat;
    display: block;
    line-height: 40px;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.posts-nav {
    margin: 15px 0 30px;
    padding: 10px 0;
}
.posts-nav a {
    background: none repeat scroll 0 0 #F6F6F6;
    border-radius: 2px 2px 2px 2px;
    color: inherit;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    padding: 8px 15px;
}
.socialsharing {
    border: 1px solid #EFEFEF;
    margin-bottom: 30px;
    padding: 10px;
}
.socialsharing h4 {
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 3px;
}
.socialsharing .social-icons {
    float: right;
    list-style: none outside none;
    margin: 0;
}
.socialsharing .social-icons a {
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    text-indent: -9999px;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.comments {
    margin-top: 40px;
}
.commentlist {
    list-style: none outside none;
    margin: 30px 0 0;
}
.commentlist li {
    margin: 0 0 20px;
    padding: 10px;
}
.commentlist li .comment-text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F0F0F0 #F0F0F0 #E8E8E8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 7px 0 -4px #FFFFFF, 0 7px 1px -3px rgba(0, 0, 0, 0.15), 0 14px 0 -8px #FFFFFF, 0 14px 1px -7px rgba(0, 0, 0, 0.15);
    margin-left: 65px;
    padding: 10px;
    position: relative;
}
.comment-text:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #F3F3F3 transparent transparent;
    border-image: none;
    border-right: 10px solid #F3F3F3;
    border-style: solid;
    border-width: 10px;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    z-index: 100;
}
.commentlist > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.commentlist li:last-child {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
}
.commentlist li ul {
    list-style: none outside none;
    margin: 0 0 0 80px;
}
.commentlist li ul li {
    margin: 10px 0 0 !important;
    padding: 40px 0 0;
}
.commentlist li .avatar {
    float: left;
    position: absolute;
}
.commentlist li .avatar img {
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
    display: block;
}
.commentlist li .comment-text {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
    position: relative;
}
.commentlist li .author {
    line-height: 17px;
    margin-bottom: 10px;
    margin-top: 0;
}
.commentlist li .author span {
    display: inline;
    font-size: 16px;
    font-weight: bold;
}
.commentlist li .date {
    color: #999999;
    font-size: 11px;
}
.commentlist li .date a {
    color: #999999;
}
.commentlist li .date a:hover {
    color: #333333;
}
.commentlist li em {
    color: #CCCCCC;
    display: block;
    font-size: 11px;
    font-style: normal;
    margin-bottom: 20px;
}
#respond {
    margin-bottom: 13px;
    overflow: hidden;
}
#respond input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px 2px 2px 2px;
    float: left;
    font-size: 13px;
    margin-right: 1%;
    padding: 13px 2%;
    width: 28%;
}
#respond textarea {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px 2px 2px 2px;
    color: #DDDDDD;
    font-size: 13px;
    height: 150px;
    padding: 8px 11px;
    width: 95%;
}
#respond input:last-child {
    margin-right: 0;
}
#respond input, #respond textarea {
    width: 70%;
}
#respond input:-moz-placeholder, #respond textarea:-moz-placeholder {
    color: #DDDDDD;
}
#respond input[type="submit"] {
    background-color: #37D0FC;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 12px 19px rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 44px;
    padding: 0 24px;
    text-shadow: none;
    transition: all 0.2s ease 0s;
}
#contact {
    padding-bottom: 0;
}
.contact-box {
    padding: 45px 0 60px;
    text-align: center;
    width: 100%;
}
.contact-details {
    color: #FFFFFF;
    margin: 0 auto 10px;
    padding: 5px 0;
    width: 70%;
}
.contact-details h2 {
    color: inherit;
    margin-bottom: 0;
}
.contact-details h1 {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    color: #000000;
}
.copyright {
    background: none repeat scroll 0 0 #37D0FC;
    font-size: 11px;
    padding: 40px 0;
    width: 100%;
}
.copyright h1, .copyright h2, .copyright h3, .copyright h4, .copyright h5, .copyright h6, .copyright a {
    color: inherit;
}
.copyright-logo a {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
}
.copyright .social-icons {
    text-align: center;
}
.copyright .social-icons .social-icon {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    float: none;
    margin: 0 5px 30px 0;
}
#contact-input {
    float: left;
    margin-bottom: 13px;
    overflow: hidden;
    width: 50%;
}
#contact-input input {
    border: 1px solid #E8E8E8;
    border-radius: 2px 2px 2px 2px;
    color: #747474;
    float: left;
    font-size: 13px;
    margin: 0 1% 2%;
    padding: 20px 2%;
    width: 90%;
}
#contact-textarea textarea {
    border: 1px solid #E8E8E8;
    border-radius: 2px 2px 2px 2px;
    color: #747474;
    font-size: 13px;
    height: 92px;
    margin-bottom: 10px;
    padding: 20px 11px 10px;
    width: 95%;
}
#contact-input input:-moz-placeholder, #contact-textarea textarea:-moz-placeholder {
    color: #999999;
}
#contact-textarea {
    float: right;
    width: 50%;
}
#contact-input label, #contact-textarea label {
    display: block;
    font-weight: bold;
    padding-left: 2%;
    text-align: left;
}
#contact-submit input[type="submit"] {
    background-image: url("../images/mail.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    height: 57px;
    line-height: 57px;
    padding: 20px 24px;
    text-indent: -9999px;
    width: 50%;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 2px 2px 2px 2px;
    color: #999999;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 8px;
    width: 180px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #E0E0E0;
    color: #333333;
}
.fittext-content {
    line-height: 0.8;
}
* html .title h1 {
    display: inline;
}
* + html .title h1 {
    display: inline;
}
#back-to-top {
    bottom: 20px;
    display: none;
    position: fixed;
    right: 20px;
    z-index: 1000;
}
#back-to-top a {
    background: url("../images/backtotop.png") no-repeat scroll center center #515A5F;
    border-radius: 100px 100px 100px 100px;
    display: block;
    height: 40px;
    text-indent: -9999px;
    transition: all 0.2s linear 0s;
    width: 40px;
}
#back-to-top a:hover {
    background-color: #222222;
}
#google-map {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.06);
    height: 450px;
    position: relative;
    width: 100%;
}
#google-map:before, #google-map:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}
#google-map:after {
    bottom: 0;
    top: auto;
}
#google-map .captionMap {
    background: linear-gradient(rgba(0, 0, 0, 0.6), black) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 12px HelveticaNeue,Helvetica,Arial;
    padding: 12px;
    position: absolute;
    text-shadow: 0 1px 1px black;
    top: 5px;
    width: 254px;
    z-index: 1;
}
#google-map .captionMap span {
    display: block;
    font-weight: bold;
    padding-top: 5px;
}
#google-map .captionMap:after {
    border-bottom: 7px solid rgba(0, 0, 0, 0.6);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -7px;
    width: 0;
    z-index: 2;
}
#google-map .captionMap img {
    float: left;
    margin-bottom: 5px;
    margin-right: 13px;
    width: 60px;
}
.mapPreLoading {
    left: 50%;
    margin-left: -25px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.mapPreLoading span {
    display: block;
    margin: 0 auto;
}
.mapPreLoading span[class*="l-"] {
    animation: 4s cubic-bezier(0.03, 0.615, 0.995, 0.415) 0s normal both infinite loader;
    background: none repeat scroll 0 0 #000000;
    border-radius: 100% 100% 100% 100%;
    display: inline-block;
    height: 6px;
    margin: 12px 2px;
    position: relative;
    width: 6px;
}
.mapPreLoading span.l-1 {
    animation-delay: 1s;
}
.mapPreLoading span.l-2 {
    animation-delay: 0.8s;
}
.mapPreLoading span.l-3 {
    animation-delay: 0.6s;
}
.mapPreLoading span.l-4 {
    animation-delay: 0.4s;
}
.mapPreLoading span.l-5 {
    animation-delay: 0.2s;
}
.mapPreLoading span.l-6 {
    animation-delay: 0s;
}
@-moz-keyframes loader {
0% {
    opacity: 0;
    transform: translateX(-30px);
}
25% {
    opacity: 1;
}
50% {
    opacity: 0;
    transform: translateX(30px);
}
100% {
    opacity: 0;
}
}
@-moz-keyframes loader {
0% {
    opacity: 0;
    transform: translateX(-30px);
}
25% {
    opacity: 1;
}
50% {
    opacity: 0;
    transform: translateX(30px);
}
100% {
    opacity: 0;
}
}
@-moz-keyframes bounceInDown {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
60% {
    opacity: 1;
    transform: translateY(30px);
}
80% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(0px);
}
}
@-moz-keyframes bounceInDown {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
60% {
    opacity: 1;
    transform: translateY(30px);
}
80% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(0px);
}
}
.bounceInDown {
    animation-name: bounceInDown;
}
.fullwidthbanner-container {
    max-height: 750px !important;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.portfolio-bannercontainer {
    margin-bottom: 50px;
    max-height: 600px !important;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.revolution ul {
    list-style: none outside none;
    margin: 0;
    visibility: hidden;
}
.tp-caption.bold {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}
.tp-caption.mid {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}
.tp-caption.icon {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1;
}
.tp-caption.icon a i {
    color: #FFFFFF;
    transition: all 200ms ease-in 0s;
}
.tp-caption a.btn {
    color: #FFFFFF;
}
.tp-caption.bold.mid {
    color: #D9D9D9;
    font-size: 70px;
}
.tp-caption.lite.mid {
    color: #D9D9D9;
    font-size: 40px;
}
.tp-caption.small {
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}
.tp-caption.icon-arrow {
    color: #505050;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}
.tp-caption.icon i {
    height: auto;
    width: auto;
}
.tp-caption.icon.bg {
    padding: 10px;
}
.tp-leftarrow.default, .tp-rightarrow.default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #F7F7F7;
    cursor: pointer;
    font-size: 20px;
    height: auto;
    line-height: 1;
    padding: 15px 19px;
    position: relative;
    top: 50% !important;
    transition: all 200ms ease-in 0s;
    width: auto;
    z-index: 100;
}
.tparrows:before {
    display: inline-block;
    font-family: 'fontAwesome';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: inherit;
}
.tp-leftarrow.default:before {
    content: "";
}
.tp-rightarrow.default:before {
    content: "";
}
.tparrows:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.tp-bullets.simplebullets.round .bullet {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    height: 15px;
    margin-left: 5px;
    transition: all 200ms ease-in 0s;
    width: 15px;
}
.tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.round .bullet:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.tp-bullets.hidebullets {
    opacity: 1;
}
.tp-loader {
    background: url("style/images/loading.gif") no-repeat scroll 0 0 / 30px 30px #FFFFFF;
    height: 30px;
    left: 50%;
    margin: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 10000;
}
.mc4wp-form {
    display: block;
    margin-top: 0;
    text-align: center;
}
.mc4wp-form div {
    display: inline-block;
}
.mc4wp-form input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1);
    color: #3A3838;
    display: inline-block;
    font-weight: bold;
    height: 50px;
    margin: 8px 4px;
    padding: 0 10px;
    text-transform: none;
    width: 250px;
}
.mc4wp-form label {
    color: #FFFFFF;
    font-size: 12px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.mc4wp-form input[type="submit"] {
    background-color: #37D0FC;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 12px 19px rgba(255, 255, 255, 0.1) inset, 0 1px 7px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 5px auto 0;
    padding: 13px 24px;
    text-align: center;
    text-shadow: none;
    transition: all 0.2s ease 0s;
    width: 99%;
}
.mc4wp-form input:-moz-placeholder, .mc4wp-form textarea:-moz-placeholder {
    color: #3A3838;
}
nav.navigation {
    background: url("../images/header-bg.jpg") repeat-x scroll 0 0 transparent;
    height: 166px;
    z-index: 10000;
}
.title {
    margin: 10px 0 0;
    text-align: left;
}
.title h1, h1.header-text {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none;
    box-shadow: none !important;
    line-height: 66px;
    margin: 0;
    text-align: left;
}
.subtitle {
    margin: 0;
}
.navigation li a {
    font-family: "BebasNeueRegular",Helvetica,sans-serif !important;
}
.logo.large {
    position: absolute;
    top: 6px;
}
#header-right {
    overflow: hidden;
    padding: 0;
}
#search {
    float: left;
    margin: 3px 15px 0;
    width: 180px;
}
#header-right {
    float: right;
    padding: 0;
}
#header-right a {
    display: block;
    float: left;
    margin: 0 0 0 7px;
    padding: 7px 7px 0;
}
.header-left {
    float: left;
}
.header-left a {
    background: url("../images/map-new.png") no-repeat scroll 0 0 transparent;
    font-size: 20px;
    line-height: 40px;
    margin: 0 0 0 10px;
    padding: 0 10px 0 20px;
}
#secondary-nav {
    background: none repeat scroll 0 0 #42D0FF;
    border-top: 2px solid white;
    bottom: 0;
    height: 40px;
    position: absolute;
    width: 100%;
}
#secondary-nav a {
    color: #2E2E2E;
    font-family: "BebasNeueRegular",Helvetica,sans-serif !important;
}
#secondary-nav > img {
    position: relative;
    top: 3px;
}
#secondary-nav .container {
    height: auto;
}
.home-parallax {
    background-position: 50% 1000px;
}
.why-crossfit {
    color: #0D72B8;
    font-family: BebasNeueRegular,Helvetica,sans-serif;
    font-size: 67px;
    line-height: 67px;
}
.about-images {
    overflow: hidden;
}
.about-images img {
    margin: 0 0 12px 12px;
    width: 47%;
}
#about {
    background: url("../images/gray-diagonal-1.jpg") no-repeat scroll left bottom, url("../images/gray-diagonal-2.jpg") no-repeat scroll right top transparent;
    padding-bottom: 10px;
}
#about-home .cta {
    display: block;
    margin: 25px 0 0;
}
#about-home.section {
    padding-top: 20px;
}
.dark-blue {
    color: #0D72B8;
}
.parallax-content {
    font-family: BebasNeueRegular,Helvetica,sans-serif;
    line-height: 0.8em;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
}
.container .blue-barbell {
    border-left: 8px solid #E71818;
}
.tpg-byline-class, .tpg-metadata-class {
    display: none;
}

.tpg-get-posts, .tpg-get-posts-post h2 a {
    color: #000000;
    font-size: 38px;
    line-height: 1.2em;
    text-align: center;
}
#getting-started .parallax-content, #getting-started.parallax {
    height: 421px !important;
}
#getting-started .aligncenter {
    color: #FFFFFF;
    font-size: 150px;
}
#getting-started .aligncenter a {
    color: #000000;
    font-size: 55px;
}
.parallax-content {
    padding: 30px 0 0;
}
.full-width {
    padding: 0;
}
#shortcuts .parallax-content {
    color: #42D0FF;
    font-family: BebasNeueRegular,Helvetica,sans-serif;
    font-size: 80px;
    line-height: 1.2em;
}
#shortcuts .parallax-content strong {
    color: #FFFFFF;
    font-size: 150px;
    font-weight: normal;
}
#footer {
    background: url("../images/footer.png") no-repeat scroll right top, url("../images/mochaGrunge.jpg") repeat scroll center top transparent;
    padding: 0;
}
.home #footer {
    height: auto !important;
}
#contact-home {
    background: url("../images/texture.jpg") repeat scroll 0 0 #303030 !important;
    padding: 20px 0 0 !important;
}
#contact-home h1 {
    color: #42D0FF;
    font-family: "BebasNeueRegular","HelveticaNeue",sans-serif;
    font-size: 90px;
}
#wod-home {
    background: url("../images/wod-diagonal-1.png") no-repeat scroll left bottom, url("../images/wod-diagonal-2.png") no-repeat scroll right top, url("../images/brickwall.png") repeat scroll center top transparent;
    padding-bottom: 10px;
}
#selectnav1 {
    position: relative;
    z-index: 10;
}
#wod-home, #wod-home .parallax-content {
    min-height: 340px;
    height: auto !important;
    padding: 20px 0 0;
}
#wod-home .parallax-content {
    padding: 10px 0 0;
}
#wod-home .one_half.last a {
    color: #000000;
    font-family: "Covered","BebasNeueRegular","HelveticaNeue",sans-serif;
    font-size: 66px;
    line-height: 66px;
}
#wod-home .one_half.last li:first-child a {
    color: #FFFFFF;
    font-family: "BebasNeueRegular","HelveticaNeue",sans-serif;
    font-size: 90px;
    line-height: 1em;
}
#wod-home ul {
    margin: 40px 0 0;
    text-align: center;
}
#contact-home .container {
    height: auto !important;
}
.rnr-google-map {
    border: 10px solid #E2E2E2;
}
#contact .fancy-header1 {
    margin-bottom: 0;
}
#getting-started table td {
    padding: 3px 40px 3px 0;
}
#getting-started table {
    margin: 0 0 20px;
}
#footer .one_third {
    margin: 15px 0 0;
}
.trainers {
    margin-bottom: 40px;
}
.blog h2 {
    color: #0D72B8;
}
.post-content a {
    color: #E71818;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
#sidebar a, #sidebar a:visited {
    color: #000000;
}
#sidebar a:hover, #sidebar a:active {
    color: #0D72B8;
}
#contact-submit input[type="submit"] {
    background-color: #006FB7 !important;
    border-radius: 7px 7px 7px 7px;
    width: 25%;
}
#msg {
    color: #E71818 !important;
}
#search input {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #333333;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
}
.hide {
    display: none;
}

#blue .parallax-content {
    font-size: 100px;
    line-height: 100px;
}

#coaches img {
    border: 10px solid #e2e2e2;
}

/*//////////////////  CALENDAR   /////////////////////*/

#tblSchedule {font-family: 'BebasNeueRegular',sans-serif;}
#zs table { width: 100% }
.zsTeacherImg { margin: 0px 10px 5px 0px; float:left }
#zs tbody tr:nth-child(even) td, tbody tr.even td {background: #42d0ff}
#zsDateRange {
    float: left;
    display: block;
    width: 100%;
    color: #006FB7 !important;
    font-family: 'BebasNeueRegular',sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    text-transform: uppercase !important;
}
#zs tbody { border:none }
#zs table th  { border:none; padding: 8px 0 8px 0; font-family: 'BebasNeueRegular',sans-serif; font-size: 1.5em; color: #000000 }
.zs.schedule td {font-weight:normal;font-size:1.2em;margin-top:2px;padding:5px;color: #000000 }
.zs.schedule td a {color:#000000}
#zsinfo { position: absolute;width: 300px;background-color: #eee;border: 2px solid #aaa;top: 0px;display: none;padding: 10px;-moz-border-radius: 10px;border-radius: 10px;font-size:14px}
#btnCloser {background-image: url('http://www.zeitconnect.com/images/closer.png');float: right;width: 23px;height: 23px;cursor: pointer;}
.zs.schedule th { font-weight:bold;font-size:1.4em;text-align:left }
.zsweek {float: right; padding:0px; font-weight: bold; margin: 0 25px 0 0;background-color:#ffffff;-moz-border-radius: 5px;border-radius: 5px;color:#000000}
#zsweeks {float: left;}
#zsfilters {float: right; display: block;}
#zsfilters select {
    color: #000;
}
#zsfilters select {
    float: right;
    margin: 0;
   padding: 0;
}
.zsSchSignup {margin-left: 10px}
#zsnav {-moz-border-radius: 5px;border-radius: 5px; font-family: 'BebasNeueRegular',sans-serif; font-size: 1.2em; border:2px solid #ffffff;padding:5px; margin-bottom: 20px}
#tblSchedule {
    font-family: "Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;
}

/*/////////////////////////////////////////*/